<div class='containter'>
  <div class='beer-info'>
	  <h1 class='beer-title'><%= @beer.name %></h1>
	  <div class='beer-rating'>
	  	<ul>
			<% @beer.get_avg.times do %>
				<li id="1"><i class="fa fa-star"></i></li>
			<% end %>
			<% (5-@beer.get_avg).times do %>
				<li id="1"><i class="fa fa-star-o"></i></li>
			<% end %>
	  	</ul>
	  </div>
  </div>
  <%= erb :_rating_post %>
	
  <p><a href="http://www.wikipedia.org/wiki/<%= @beer.name %>">learn more</p></a>
  <h3>Description:</h3>
	<div class='beer-description'>
		<%= @beer.description %>
	</div>
	<h3>Family of this beer:</h3>
		<a href="/families/<%= @beer.family.id %>"><%= @beer.family.name %></a>
	<h3>Ratings for this beer:</h3>
	<table class="beer-table">
		<tr>
				<td>User</td>
				<td>Rating</td>
		</tr>
		<% @beer.ratings.each do |rating| %>
		<tr>
			<td><a href="/users/<%= rating.user_id %>"><%= rating.user.first_name %> <%= rating.user.last_name %></a></td>
			<td><%=rating.score%></td>
		</tr>
		<% end %>
	</table>
	<a href="/beers/<%= (@beer.id + 1) %>">next beer >></a>
</div>