<div class='containter'>
	<div class='family-info'>
	  <h1 class = 'family-title'><%= @family.name %></h1>
	  <div class='family-rating'>
	  	<ul>
			<% @family.get_avg.times do %>
				<li id="1"><i class="fa fa-star"></i></li>
			<% end %>
			<% (5-@family.get_avg).times do %>
				<li id="1"><i class="fa fa-star-o"></i></li>
			<% end %>
	  	</ul>
	  </div>
  </div>
  <%= erb :_rating_post %>

	
  <p><a href="http://www.wikipedia.org/wiki/<%= @family.name %>">learn more</p></a>
  <h3>Description:</h3>
	<div class='family-description'>
		<%= @family.description %>
	</div>
	<h3>Beers in this family:</h3>
	<ol>
		<% @family.beers.each do |beer| %>
			<li><a href="/beers/<%= beer.id %>"><%= beer.name %></li></a>
			<% end %>
	</ol>
	<h3>Ratings for this family:</h3>
	<table class="family-table">
		<tr>
				<td>User</td>
				<td>Rating</td>
		</tr>
		<% @family.ratings.each do |rating| %>
		<tr>
			<td><a href="/users/<%= rating.user_id %>"><%= rating.user.first_name %> <%= rating.user.last_name %></a></td>
			<td><%=rating.score%></td>
		</tr>
		<% end %>
	</table>
	<a href="/families/<%= (@family.id + 1) %>">next family >></a>
</div>