<div class='containter'>
  <h1>Title</h1>
  
  <h2>User profile</h2>
  <div>
    <p>Email Address: <%= @user_info.email %></p>
    <p>Name: <%= @user_info.first_name %> <%= @user_info.last_name %></p>
  </div>



  <div>
    <h2>Rated Beers</h2>
    <ol>
      

      


      <% @ratings_for_beers.each do |rating| %>
      <li><%= rating.beer.name %> - <%= rating.score %></li>
      <% end %>
    </ol>

  </div>


</div>