<div class='containter'>
  <h1>Title</h1>
  
  <h2>User profile</h2>
  <div>
    <p>Email Address: <%= @user_info.email %></p>
    <p>Name: <%= @user_info.first_name %> <%= @user_info.last_name %></p>
    <% if session[:user_id] == @user_info.id %>
      <a href="/users/<%= @user_info.id %>/edit">Edit profile</a>
    <% end %>
  </div>



  <div>
    <h2>Rated Beers</h2>

      <table cellpadding="0" cellspacing="0" class="">
        <tr>
          <td>Beers</td><td></td><td>Scores</td>
        </tr>
        <% @beers_rated.each do |beer, score| %>
        <tr>
          <td><%= beer %></td><td></td><td><%= score %></td>
        </tr>
        <% end %>
      </table>


    </div>




    <div>
    <h2>Rated Families</h2>

      <table cellpadding="0" cellspacing="0" class="">
        <tr>
          <td>Families</td><td></td><td>Scores</td>
        </tr>
        <% @families_rated.each do |family, score| %>
        <tr>
          <td><%= family %></td><td></td><td><%= score %></td>
        </tr>
        <% end %>
      </table>


    </div>


  </div>